@{
    ViewData["Title"] = "Index";
}
<body>
    <div class="flex-container3">
    <div class="scroll-container">
    @foreach (var item in ViewBag.ListaPartidos)
    {
    string logo = item.Logo;
    string fecha=((DateTime)@item.FechaFundacion).ToShortDateString();
     <div class="item3">
        <form action='@Url.Action("VerDetallePartido", "Home")'>
            <input type="hidden" value="@item.IdPartido" name="idPartido">
            <input type="image" src="@logo" alt="imagenPartido">
        </form>
        <div class="item3-description">
            <p>Partido: @item.Nombre</p>
            <p>Fecha de fundacion: @fecha</p>
        </div>
     </div>  
    }
    </div>
    </div> 
</body>

  